.test {
  margin: 200px 0;
  color: #fff;
  font-size: 3rem;
}
.category_container {
  min-height: 100vh;
}

.parent_categories {
  margin-top: 100px;
  align-content: center;
  justify-items: center;
  position: fixed;
  left: 43%;
  z-index: 9;

  &::after {
    content: "";
    display: block;
    width: 110vw;
    height: 90px;
    background-color: var(--primary);
    border-bottom: 1px solid var(--primary-btn);
    position: absolute;
    top: -30px;
    z-index: -1;
  }
}

.subcate_wrap {
  display: flex;
  gap: 24px;
}
.subcate_item {
  .subcate_item-name {
    color: var(--text);
    font-size: 2rem;
    font-weight: 500;
  }
}

:global(.category-page) :global(.wrapper_header) {
  border-bottom: none !important;
}
