.btn {
  display: inline-block;
  border: 1px solid #ccc;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;

  user-select: none;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}

.btn.disabled {
  opacity: 0.3;
  &:hover {
    cursor: default;
  }
}

.primary {
  color: var(--primary);
  background: var(--primary-btn);
  border: none;
  font-weight: bold;
}

.rounded {
  border-radius: 999px;
}

.outlined {
  color: var(--primary-btn);
  background-color: transparent;
  border: 1px solid var(--primary-btn);
  font-weight: bold;
}

// Sizes
.small {
  padding: 6px 12px;
  font-size: 14px;
}

.medium {
  padding: 12px 24px;
  font-size: 16px;
}

.large {
  padding: 16px 56px;
  font-size: 16px;
}

.loading {
  position: relative;
  .btn_content {
    visibility: hidden;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spinning 2s linear infinite;
  }
}

@keyframes spinning {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
