.container {
  min-height: 100vh;
  margin-top: 120px;
}
.image_col {
  min-height: 90vh;
  max-height: 90vh;
}
.prod_main_img {
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.loading {
  min-height: 100vh;
  text-align: center;
}
.iconLoading {
  font-size: 3rem;
  color: var(--text);
  margin-top: 200px;
  animation: rotateLoading 0.5s ease infinite;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.info_wrap {
  padding-top: 60px;
}
.info_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .product_name {
    font-size: 1.7rem;
    color: var(--text);
    font-weight: 500;
  }

  .icon {
    font-size: 1.8rem;
    color: var(--text);
  }
}

.product_sku {
  font-size: 1.2rem;
  color: var(--primary-btn);
  margin-bottom: 16px;
}

.price {
  font-size: 1.7rem;
  color: var(--text);
  margin-bottom: 12px;
}
.color_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  span {
    color: var(--text);
    font-size: 1.4rem;
    font-weight: 600;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.color_item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--text);

  &:hover {
    border-color: orange;
    cursor: pointer;
  }
}

.size_wrap {
  margin-bottom: 10px;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.size_list {
  margin: 0 -12px;
}
.size_item {
  color: #666;
  font-size: 1.4rem;
  padding: 6px 12px;
  &:hover {
    cursor: pointer;
  }
}

.size_item.active {
  color: var(--text);
  border-bottom: 1px solid var(--text);
}
.size_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  span {
    color: var(--text);
    font-size: 1.3rem;
    font-weight: 600;
  }

  .size_chart {
    color: #666;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}

.quantity_form {
  margin-bottom: 20px;
  p {
    font-size: 1.4rem;
    color: var(--text);
    margin-bottom: 10px;
  }

  .input_quan {
    max-width: 30px;
    background-color: transparent;
    color: var(--text);

    text-align: center;
    font-size: 1.4rem;
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.spinner_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 10px;
  border: 1px solid #777;
  max-width: 150px;
  border-radius: 6px;

  .minus,
  .plus {
    height: 100%;
    background-color: transparent;
    border: none;
    color: #ccc;
  }

  .quantity {
    color: var(--text);
    font-size: 1.4rem;
  }
}
.btn_cta {
  width: 100%;
  height: 40px;
}

.container_col {
  margin-bottom: 40px;
}
.sub_img_wrapper {
  margin-top: 60px;
}
.img_des,
.img_last_des {
  color: var(--text);
}

.img_des {
  display: flex;
  align-items: end;
  height: 95%;
  justify-content: end;

  p {
    max-width: 30%;
    font-size: 1.4rem;
  }
}

.img_last_des {
  display: flex;
  align-items: center;
  height: 90%;
  justify-content: start;

  p {
    max-width: 30%;
    font-size: 1.4rem;
  }
}

.tab_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 12px 0;
  border-bottom: 1px solid #777;
  margin-top: 40px;
  li {
    color: #777;
    font-size: 1.4rem;
    &:hover {
      cursor: pointer;
      color: var(--text);
    }
  }
}

li.active {
  color: var(--text);
}

// suggest list
.suggest_container {
  margin-bottom: 100px;
}
.suggest_title {
  width: 100%;
  color: var(--text);
  text-align: center;
  margin: 60px 0 40px 0;
  font-size: 17px;
  font-weight: 400;
}
.card_item {
  margin-bottom: 20px;
}
.item_link {
  display: block;
  border-radius: 12px;
  overflow: hidden;
}
.item_img {
  width: 100%;
  max-height: 360px;
  min-height: 360px;
  border-radius: 12px;
  overflow: hidden;
}
.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  min-height: 360px;
}
.item_bottom_wrap {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.item-price {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.item_foot_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sold {
  font-size: 14px;
  color: #ccc;
}
.rating {
  font-size: 14px;
  color: #fff;
}
.star {
  color: orange;
  margin-left: 4px;
  font-size: 14px;
}
.btn_allsuggest {
  margin-left: 46%;
  margin-top: 12px;
}

.size_chart_img {
  padding-top: 100%;
  background-image: url("/assets/sizechart.webp");
  background-size: cover;
  background-position: center;
}

.btn_close_chart {
  margin-left: 90%;
}
// toast
.confirm_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
  span {
    font-size: 15px;
  }
}
.btn_close_toast {
  padding: 6px;
  border-radius: 50%;
}
.confirm_body {
  display: flex;
  gap: 16px;
}
.confirm_img {
  width: 90px;
  height: 150px;
  border: 1px solid #cccccc68;
  border-radius: 8px;
  overflow: hidden;
  flex-basis: 60%;
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

.price_quan {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: auto;

  h5 {
    font-size: 16px;
  }
}
.cta_viewcart {
  width: 100%;
  height: 36px;
  display: block;
  align-content: center;
  text-align: center;
}

.confirm_product_name {
  font-size: 14px;
  margin-bottom: 20px;
}
.confirm_info {
  display: flex;
  flex-direction: column;
}

.cta_viewcart {
  margin-top: 16px;
  background-color: var(--primary);
  color: var(--text);
  font-weight: 600;
}

.toast {
  transform: translateX(300px);
}

.toast.animate {
  animation: slideFromRight 0.1s ease forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);

    opacity: 1;
  }
}


@media screen and (max-width: 1113px) {

  .tab_container{
    gap: 20px;
  }
}