.wrapper {
  --search-btn-width: 52px;
  --search-container-width: 400px;
  height: var(--header-height);
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--black);
  border-bottom: 1px solid var(--primary-btn);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
.header_left_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  .name_web {
    font-family: "IM FELL DW Pica";
    font-size: 3.6rem;
    font-weight: lighter;
    font-style: italic;
    color: #fff;
    letter-spacing: 6px;
  }
}

.header_actions {
  display: flex;
  align-items: center;
  gap: 2rem;
  .user-icon,
  .cart-icon {
    color: #fff;
    font-size: 2rem;
  }
}
