.wrapper{
    margin: 200px 0;
    h2{
        font-size: 3rem;
        color: #fff;
    }
}

.card_item{
    
}
.item_link{
    
    display: block;
    border-radius: 12px;
    overflow: hidden;
    
}
.item_img{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.item_img img{
    max-height: 360px;
    object-fit: cover;
    object-position: center;
}