.menu_wrap {
  padding: 6px 12px;
  margin-left: 26px;
  margin-right: 16px;
  position: relative;
  border-bottom: 1px solid transparent;
  h2 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.menu_wrap {
  &:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
  }
  &:hover .menu_dropdown {
    display: block;
  }
  .menu_dropdown {
    display: none;
    position: absolute;
    top: 170%;
    left: 0;
    z-index: 999;
  }
}
.menu_dropdown {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 26px;
    left: 0;
    top: -27px;
    background-color: transparent;
  }
}
.option_nam,
.option_nu {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: #ccc;
  }
}

.link {
  padding: 12px;
  display: block;
  color: var(--primary);
}

.icon {
  margin-right: 12px;
  color: #666;
  font-weight: lighter;
}
.menu_options {
  border-radius: 3px;
  overflow: hidden;
}
